<a href="https://colab.research.google.com/github/4dsolutions/clarusway_data_analysis/blob/main/DAwPy_S9_(Combining_DataFrames)/DAwPy_S9_(Combining_DataFrames).ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a><br/>
[![nbviewer](https://raw.githubusercontent.com/jupyter/design/master/logos/Badges/nbviewer_badge.svg)](https://nbviewer.org/github/4dsolutions/clarusway_data_analysis/blob/main/DAwPy_S9_%28Combining_DataFrames%29/DAwPy_S9_%28Combining_DataFrames%29.ipynb)


________

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 09</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Combining DataFrames</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#0)
* [COMBINING DATAFRAMES](#1)
* [APPENDING](#2)
* [CONCATENATION](#3)    
* [MERGING](#4)  
* [JOINING](#5)    
* [MORE EXAMPLES](#6)  
* [THE END OF THE SESSION - 09](#7)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy & Pandas you can import them as a library:

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Combining DataFrames</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

There are **4 main ways** of combining DataFrames together: Appending (deprecated), Concatenating, Joining and Merging. In this lecture we will discuss these 4 methods with examples. 

[A Detailed Video Source](https://www.youtube.com/watch?v=g7n1MZyYjOM).

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo("g7n1MZyYjOM")

 - **Append** is the specific case(axis=0, join='outer') of concat

 - **Concat** gives the flexibility to join based on the axis( all rows or all columns)
 
 - **Join** is based on the indexes (set by set_index)/key columns on how variable =['left','right','inner','outer']

 - **Merge** is based on any particular column each of the two dataframes, this columns are variables on like 'left_on', 'right_on', 'on'

### Difference between merge, join, and concatenate

The merge() and join() methods are the DataFrame method, not a series method. The concat() method is the pandas’ method which provides the functionality to combine the pandas’ objects such as DataFrame and Series.

* <b>Merge</b><br/>
The merge() function used to merge the DataFrames with database-style join such as inner join, outer join, left join, right join.
Combining exactly two DataFrames.
The join is done on columns or indexes.
If joining columns on columns, the DataFrame indexes will be ignored.
If joining indexes on indexes or indexes on a column, the index will be passed on.
* <b>Join</b><br/>
The join() function used to join two or more pandas DataFrames/Series horizontally.
Join() uses merge internally for the index-on-index (by default) and column(s)-on-index join.
Aligns the calling DataFrame’s column(s) or index with the other objects’ index (and not the columns).
Defaults to left join with options for right, inner and outer join
* <b>Concat</b><br/>
concatenate two or more pandas DataFrames/Series vertically or horizontally.
Aligns only on the index by specifying the axis parameter.
Defaults to outer join with the option for inner join

Remember to scan YouTube for tutorials on any pandas topics you wish to review:

<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/52925636851/in/datetaken/" title="Pandas World"><img src="https://live.staticflickr.com/65535/52925636851_22889e675c_c.jpg" width="800" height="450" alt="Pandas World"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

### Example DataFrames

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']}
                    )

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']}
                    )

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']}
                   )

In [ ]:
df4 = pd.DataFrame({'C': ['C12', 'C13', 'C14', 'C15'],
                    'A': ['A12', 'A13', 'A14', 'A15'],
                    'D': ['D12', 'D13', 'D14', 'D15'],
                    'B': ['B12', 'B13', 'B14', 'B15']}
                    )

In [ ]:
df5 = pd.DataFrame({'C': ['C12', 'C13', 'C14', 'C15'],
                    'A': ['A12', 'A13', 'A14', 'A15'],
                    'D': ['D12', 'D13', 'D14', 'D15'],
                    'B': ['B12', 'B13', 'B14', 'B15'],
                    'E': ['E16', 'E17', 'E18', 'E19']}
                    )

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Appending</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**append** is a basic way of combining DataFrames, but it's deprecated. Expect at least a warning if using a recent pandas.  We include it for completeness, as we are likely to encounter code from previous versions.

Pandas dataframe.append() function is used to **append rows of other dataframe to the end of the given dataframe**, returning a new dataframe object. Columns not in the original dataframes are added as new columns and the new cells are populated with NaN value 

* [pandas Documentation](https://pandas.pydata.org/pandas-docs/version/1.3/reference/api/pandas.DataFrame.append.html)
* [Geeks for Geeks](https://www.geeksforgeeks.org/python-pandas-dataframe-append/)
* [Python Programming](https://pythonprogramming.net/concatenate-append-data-analysis-python-pandas-tutorial/)

In [ ]:
df1

In [ ]:
df3

The append method is actually deprecated, but lets include it, and the concat equivalents, for backward compatibility.

In [ ]:
df1.append(df3)  # pd.concat([df1, df3])

In [ ]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [ ]:
df1.append(df3, ignore_index=True)

In [ ]:
try:
    df1.append(df3, verify_integrity=True)
except ValueError:
    print("duplicate indexes")

If we ignore the index then there's no need to worry about its containing duplicates.

In [ ]:
df1.append(df3, ignore_index=True, verify_integrity=True)

In [ ]:
combined = df1.append(df3)

In [ ]:
combined.index

In [ ]:
df1.append(df3).iloc[0:6,:]  # .loc gives an error (non-unique index)

In [ ]:
df9 = df1.append([df2, df3, df4])
df9

In [ ]:
df9.loc[1]

The resulting index is "weird" because it repeats, whereas an index is usually meant to be unique.  What we find is these repeating numbers are used as labels, but under the hood we still have the `iloc` attribute for using a numeric index that increases top to bottom.

In [ ]:
df9.index

In [ ]:
df9.iloc[4]

In [ ]:
df9.iloc[5:16]

In [ ]:
pd.concat([df1, df2], ignore_index = True) # df1.append(df3, ignore_index=True)

In [ ]:
df5

In [ ]:
df1.append(df5, ignore_index = True)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Concatenation</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Concatenate pandas objects along a particular axis with optional set logic along the other axes.  Use it in place of `append` going forward.

Concatenation basically glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on. You can use **pd.concat** and pass in a list of DataFrames to concatenate together [Source 01](https://pandas.pydata.org/docs/reference/api/pandas.concat.html), [Source 02](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html), [Source 03](https://towardsdatascience.com/pandas-concat-tricks-you-should-know-to-speed-up-your-data-analysis-cd3d4fdfe6dd) & [Source 04](https://www.journaldev.com/33320/pandas-concat-examples):

**``pandas.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True)``**

In [ ]:
# ? pd.concat

In [ ]:
# Default = rows onto rows

pd.concat([df1, df2, df3])

In [ ]:
try:
    pd.concat([df1, df2, df3], verify_integrity = True)
except Exception as E:
    print(E)

In [ ]:
pd.concat([df1, df2, df3], ignore_index=True, verify_integrity = True)

Left two columns of df1, skip left column for df2, all of df3.

In [ ]:
df2

In [ ]:
pd.concat([df1.iloc[:, :2], df2.iloc[:, 1:], df3])

In [ ]:
pd.concat([df1, df2, df3], axis=1) # left to right

Abandon the current column indicies and start over with columnar indexing.

In [ ]:
pd.concat([df1, df2, df3], axis=1, ignore_index = True) # left to right

Concatenate column-wise while skipping some rows.  Results in NaNs where row numbers do not match.

In [ ]:
pd.concat([df1.iloc[:2], df2.iloc[1:], df3], axis=1)  # selected rows only

In [ ]:
df4 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

df5 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7]) 

df6 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

In [ ]:
df4

In [ ]:
df5

In [ ]:
df6

In [ ]:
pd.concat([df4, df5, df6], axis=1)  # no overlapping row numbers

In [ ]:
pd.concat([df4, df5, df6], axis=1, 
          keys=['df4', 'df5', 'df6']) # still no matching rows

In [ ]:
pd.concat([df4, df5, df6], axis=1, 
          ignore_index=True) # still no matching rows

Setting **"ignore_index"** to True clears the existing index and resets it in the result.  That doesn't force the component tables to change their indexing.

In [ ]:
df5

In [ ]:
pd.concat([df4, df5, df6], axis=0)  # vertical concatenation

Notice that the concatenation is performed row-wise i.e. 0-axis. Also, the indexes from the source DataFrame objects are preserved in the output.

You can find a discussion and more information about ["What are the 'levels', 'keys', and names arguments for in Pandas' concat function?"](https://stackoverflow.com/questions/49620538/what-are-the-levels-keys-and-names-arguments-for-in-pandas-concat-functio) on stackoverflow.

In [ ]:
d1 = pd.DataFrame(dict(A=.1, B=.2, C=.3), [2, 3])
d2 = pd.DataFrame(dict(B=.4, C=.5, D=.6), [1, 2])
d3 = pd.DataFrame(dict(A=.7, B=.8, D=.9), [1, 3])

In [ ]:
d1

In [ ]:
d2

In [ ]:
d3

In [ ]:
final = pd.concat([d1, d2, d3], keys=['d1', 'd2', 'd3'])
final

In [ ]:
final.index

In [ ]:
final.index.levels

In [ ]:
pd.concat([d1, d2, d3], keys=['d1', 'd2', 'd3'], axis=1)

In [ ]:
pd.concat([d1, d3], keys=['d1', 'd3'], axis=1, join='inner')

In [ ]:
pd.concat([d1, d3], keys=['Hello', 'Python'], axis=1, join='inner')

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo("k6gMkpeYPJ4")

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Merging</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

The **merge()** function allows you to merge two DataFrames together using a similar logic as merging SQL Tables together. For example: 

* [Using Pokemon](https://www.brainstobytes.com/hands-on-pandas-9-merging-dataframes/)
* [Learn to Merge](https://www.shanelynn.ie/merge-join-dataframes-python-pandas-index-1/)
* [Combining DataFrames](https://towardsdatascience.com/combining-dataframes-using-pandas-b9e2e83b9869):

**``DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)``**

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

**Let's dive into merge()**

In [ ]:
pd.merge(left, right, how='inner', on='key')

In [ ]:
left.merge(right, how='inner', on='key')

In [ ]:
left2 = pd.DataFrame({'key': ['K0', 'K1', 'K4', 'K5'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left2

In [ ]:
right2

In [ ]:
pd.merge(left2, right2, how='inner', on='key')

In [ ]:
pd.merge(left2, right2, how='outer', on='key')

In [ ]:
left2.merge(right2, how='left', on='key')

In [ ]:
pd.merge(left2, right2, how='right', on='key')

Or to show a more complicated example:

In [ ]:
left3 = pd.DataFrame({'key': ['K0', 'K0', 'K1', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right3 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K2'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left3

In [ ]:
right3

In [ ]:
pd.merge(left3, right3, how='inner', on='key')

In [ ]:
left3

In [ ]:
right3

In [ ]:
pd.merge(left3, right3, how='outer', on='key')

In [ ]:
left3

In [ ]:
right3

In [ ]:
pd.merge(left3, right3, how='left', on='key')

In [ ]:
pd.merge(left3, right3, how='right', on='key')

As seen, similar to join, merge also combines all the columns from the two tables, with the common columns renamed with the defined suffixes.

However, merge provides three ways of flexible control over row-wise alignment.

- **The first way** is to use “on = COLUMN NAME”, here the given column must be the common column in both tables. 

- **The second way** is to use “left_on = COLUMN NAME and right_on = COLUMN NAME” , and it allows to align the two tables using two different columns.

- **The third way** is to use “left_index = True and right_index = True”, and the two tables are aligned based on their indexes.

Let's dive into more complicated examples:

In [ ]:
left4 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right4 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                       'key2': ['K0', 'K0', 'K0', 'K0'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left4

In [ ]:
right4

In [ ]:
pd.merge(left4, right4, how='inner', on=['key1', 'key2'])

In [ ]:
pd.merge(left4, right4, how='outer', on=['key1', 'key2'])

In [ ]:
pd.merge(left4, right4, how='right', on=['key1', 'key2'])

In [ ]:
pd.merge(left4, right4, how='left', on=['key1', 'key2'])

In [ ]:
left5 = pd.DataFrame({'lkey': ['x', 'y', 'z', 'x', 'z'],
                     'lvalue': [2, 3, 5, 7, 0]})

right5 = pd.DataFrame({'rkey': ['a', 'x', 'z', 'b'],
                     'rvalue': [7, 8, 9, 10]})

In [ ]:
left5

In [ ]:
right5

In [ ]:
right5 = right5.set_index('rvalue')
right5

In [ ]:
pd.merge(left5, right5, left_index=True, right_index=True)

In [ ]:
right5 = pd.DataFrame({'rkey': ['a', 'x', 'z', 'b'],
                     'rvalue': [7, 8, 9, 10]})
right5

In [ ]:
left5

In [ ]:
pd.merge(left5, right5, left_on="lkey", right_on="rkey", how="inner")

In [ ]:
pd.merge(left5, right5, left_on="lkey", right_on="rkey", how="outer")

In [ ]:
left5

In [ ]:
right5

In [ ]:
pd.merge(left5, right5, left_on="lkey", right_on="rkey", how="left")

In [ ]:
left5

In [ ]:
right5

In [ ]:
pd.merge(left5, right5, left_on="lkey", right_on="rkey", how="right")

In [ ]:
left6 = pd.DataFrame({'lkey': ['x', 'y', 'z', 'x'],
                        'lvalue': [2, 3, 5, 7]})

right6 = pd.DataFrame({'rkey': ['a', 'b', 'c', 'b'],
                         'rvalue': [7, 8, 9, 10]})

In [ ]:
left6

In [ ]:
right6

In [ ]:
pd.merge(left6, right6, left_on="lkey", right_on="rkey")

In [ ]:
pd.merge(left6, right6,  left_on="lkey", right_on="rkey", how="outer")

In [ ]:
pd.merge(left6, right6, left_on="lkey", right_on="rkey", how="left")

In [ ]:
pd.merge(left6, right6, left_on="lkey", right_on="rkey", how="right")

In [ ]:
pd.merge(left6, right6, left_index=True, right_index=True)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Joining</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

Among the three DataFrame operations, join allows the lowest level of control.

It will combine all the columns from the two tables, with the common columns renamed with the defined lsuffix and rsuffix.

The way that rows from the two tables are combined is defined by the `how` argument and may be: inner, left, right, outer. 

* [Three Ways to Combine DataFrames (educative)](https://www.educative.io/edpresso/three-ways-to-combine-dataframes-in-pandas)
* [EDUCBA: pandas Join and Merge](https://www.educba.com/python-pandas-join/) 
* [Join, Merge, Concat (Study Machine Learning)](https://studymachinelearning.com/difference-between-merge-join-and-concatenate/)
* [EDUCBA: pandas Join](https://www.educba.com/pandas-dataframe-join/)
* [Deep Dive into pandas.DataFrame.join](https://pub.towardsai.net/deep-dive-into-pandas-dataframe-join-pd-join-4cc2adee351d)

Joining tables in pandas is conceptually similar to joining tables using Structured Query Language (SQL).

From the [SQLite Tutorial](https://www.sqlitetutorial.net/sqlite-join/):

![](https://www.sqlitetutorial.net/wp-content/uploads/2015/12/SQLite-Inner-Join-Example.png)

In [ ]:
left7 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index = ['K0', 'K1', 'K2']) 

right7 = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index = ['K0', 'K2', 'K3'])

In [ ]:
left7

In [ ]:
right7

In [ ]:
left7.join(right7, how='left')

In [ ]:
left7.join(right7, how = 'outer')

In [ ]:
left7.join(right7, how = "inner")

In [ ]:
left7.join(right7, how = "right")

In [ ]:
left8 = pd.DataFrame({'key': ['K0', 'K2', 'K3', 'K4', 'K5', 'K6'],
                   'X': ['X0', 'X2', 'X3', 'X4', 'X5', 'X6']})

right8 = pd.DataFrame({'key': ['K0', 'K2', 'K3'],
                      'Y': ['Y0', 'Y2', 'Y3']})

In [ ]:
left8

In [ ]:
right8

Join DataFrames using their indexes.

In [ ]:
# left8.join(right8)  # gives an error (columns overlap but no suffix specified: Index(['key'], dtype='object'))

In [ ]:
left8.join(right8, lsuffix='_left', rsuffix='_right')  # index on index

If you want to join using the **key** columns, you need to set key to be the index on the right, and then choose **on='key'** on the left.  This is a column-on-index join.  

**join** always uses the index of the right object, and your choice of column in the left, or index by default.

In [ ]:
left8

In [ ]:
right8

In [ ]:
left8.set_index('key').join(right8.set_index('key')) # index on index

Another option to join using the key columns is to use the **on** parameter.<br>
DataFrame.join always uses other’s index but we can use any column in df.<br>
This method preserves the original DataFrame’s index in the result.

In [ ]:
# left8.join(right8, on='key') # gives an error

In [ ]:
left8

In [ ]:
right8

In [ ]:
right8.set_index('key')

A column-on-index join:  **key** on the left (because on **on='key'**) and **key** on the right because of **set_index('key')**.

In [ ]:
%timeit left8.join(right8.set_index('key'), on='key')  # outer join; left: key, right: index

But in this case, why not use merge, as they already had **key** in common.

In [ ]:
%timeit left8.merge(right8, on="key", how="outer")  # same output as above

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">More Examples</p>

<a id="6"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [ ]:
emps = pd.read_csv("employees.csv")
emps.head()

In [ ]:
emps.info()

In [ ]:
jobs = pd.read_csv("jobs.csv")
jobs.head()

In [ ]:
jobs.info()

In [ ]:
pd.merge(emps, jobs,  on="job_id", how="left")

In [ ]:
authors = pd.read_csv("authors.csv")
authors.head()

In [ ]:
authors.info()

In [ ]:
publishers = pd.read_csv("publishers.csv")
publishers.head()

In [ ]:
publishers.info()

In [ ]:
pd.merge(authors, publishers,  on="city", how="inner")

In [ ]:
pd.merge(authors, publishers,  on="city", how="left")

In [ ]:
pd.merge(emps, publishers, on="pub_id", how="left")

## Differences between merge, join, and concatenate

The merge() and join() methods are the DataFrame method, not a series method. The concat() method is the pandas’ method which provides the functionality to combine the pandas’ objects such as DataFrame and Series.

**Merge** 

 - The merge() function used to merge the DataFrames with database-style join such as inner join, outer join, left join, right join.
 - Combining exactly two DataFrames.
 - The join is done on columns or indexes.
 - If joining columns on columns, the DataFrame indexes will be ignored.
 - If joining indexes on indexes or indexes on a column, the index will be passed on.
 

**Join** 

 - The join() function used to join two or more pandas DataFrames/Series horizontally.
 - Join() uses merge internally for the index-on-index (by default) and column(s)-on-index join.
 - Aligns the calling DataFrame’s column(s) or index with the other objects’ index (and not the columns).
 - Defaults to left join with options for right, inner and outer join
 

**Concat** 

 - concatenate two or more pandas DataFrames/Series vertically or horizontally.
 - Aligns only on the index specified by the axis parameter.
 - Defaults to outer join with the option for inner join

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of The Session - 09</p>

<a id="7"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

____