<a href="https://colab.research.google.com/github/4dsolutions/clarusway_data_analysis/blob/main/DAwPy_S10_(Working%20with%20Text%20and%20Time%20Data)/DAwPy-S10%20(Working%20with%20Text%20and%20Time%20Data).ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a><br/>
[![nbviewer](https://raw.githubusercontent.com/jupyter/design/master/logos/Badges/nbviewer_badge.svg)](https://nbviewer.org/github/4dsolutions/clarusway_data_analysis/blob/main/DAwPy_S10_%28Working%20with%20Text%20and%20Time%20Data%29/DAwPy-S10%20%28Working%20with%20Text%20and%20Time%20Data%29.ipynb)

________

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:120%; text-align:center; border-radius:10px 10px;">Way to Reinvent Yourself</p>

<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 10</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Working with Text & Time Data</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [WORKING WITH TEXT DATA](#0)
* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#00)
* [WORKING WITH TIME DATA](#1)
    * [String Methods](#1.1)
    * [Most Usefull String Methods](#1.2)
    * [Dummy Operations](#1.3)
* [WORKING WITH TIME DATA](#2)
    * [pd.to_datetime()](#2.1)
    * [Series.dt()](#2.2)
    * [Datetime Module](#2.3)
    * [Series.dt()](#2.4)
* [OPERATION WITH DATETIME OBJECT](#3)
* [THE END OF THE SESSION](#4)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="00"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Working with Text Data</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In this notebook, we will first discuss the string operations with our basic Series/Index and learn how to apply these string functions on the DataFrame.

Pandas provides a set of string functions which make it easy to operate on string data. Most importantly, these functions ignore (or exclude) missing/NaN values. Almost, all of these methods work with Python string functions [Refer To Official Python Documentation]( https://docs.python.org/3/library/stdtypes.html#string-methods). So, while studying with the Series Object, convert it to String Object and then perform the operation.

In addition, according to [Pandas Official Document](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html), there are two ways to store text data in pandas:
- object -dtype NumPy array.
- StringDtype extension type.

Pandas recommend using StringDtype to store text data.

[SOURCE01](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html), [SOURCE02](https://www.w3schools.com/python/python_ref_string.asp)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:LEFT; border-radius:10px 10px;">String Methods</p>

<a id="1.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Strings implement all of the common sequence operations, along with the additional methods described at [the official documentation](https://docs.python.org/3/library/stdtypes.html#string-methods).

Strings also support two styles of string formatting, one providing a large degree of flexibility and customization (**Please see the information about** [str.format()](https://docs.python.org/3/library/stdtypes.html#str.format), [Format String Syntax](https://docs.python.org/3/library/string.html#formatstrings) and [Custom String Formatting](https://docs.python.org/3/library/string.html#string-formatting)) and the other based on C printf style formatting that handles a narrower range of types and is slightly harder to use correctly, but is often faster for the cases it can handle ([printf-style String Formatting](https://docs.python.org/3/library/stdtypes.html#old-string-formatting)).

The [Text Processing Services](https://docs.python.org/3/library/text.html#textservices) section of the standard library covers a number of other modules that provide various text related utilities (including regular expression support in the [re](https://docs.python.org/3/library/re.html#module-re) module).

Please watch [**``Video Source``**](https://www.youtube.com/watch?v=6JNwK6hEneg) for enhancing your understanding of working with Text Data in Pandas.  

**What are these String Methods? Now let us examine some of the most common and usefull String Methods and dig into them one by one:**

In [ ]:
df = pd.read_excel("text_exercise.xlsx")
df

In [ ]:
df.info()

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:LEFT; border-radius:10px 10px;">Most Usefull String Methods</p>

<a id="1.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

- **str.lower() =>** Converts a string into lower case
- **str.upper() =>** Converts a string into upper case
- **str.capitalize() =>** Converts the first character to upper case
- **str.title() =>** Converts the first character of each word to upper case
- **str.swapcase() =>** Swaps the case lower/upper

[SOURCE01](https://www.tutorialspoint.com/python_pandas/python_pandas_working_with_text_data.htm)
[SOURCE02](https://www.aboutdatablog.com/post/10-most-useful-string-functions-in-pandas)
[SOURCE03](https://towardsdatascience.com/5-must-know-pandas-operations-on-strings-4f88ca6b8e25)
[SOURCE04](https://towardsdatascience.com/pandas-string-operations-explained-fdfab7602fb4)
[SOURCE05](https://blog.devgenius.io/string-operations-on-pandas-dataframe-88af220439d1)
[SOURCE06](https://www.geeksforgeeks.org/string-manipulations-in-pandas-dataframe/)

___

In [ ]:
df["staff"].str.lower()

In [ ]:
df.staff.str.upper()

In [ ]:
df.staff.str.title()

In [ ]:
df.staff.str.capitalize()

In [ ]:
df.staff.str.swapcase()

___

- **str.isalpha()     =>** Returns True if all characters in the string are in the alphabet
- **str.isnumeric()   =>** Returns True if all characters in the string are numeric
- **str.isalnum()     =>** Returns True if all characters in the string are alphanumeric
- **str.endswith()	  =>** Returns true if the string ends with the specified value
- **str.startswith()  =>** Returns true if the string starts with the specified value
- **str.contains()	  =>** Returns a Boolean value True for each element if the substring contains in the element, else False.

[SOURCE01](https://careerkarma.com/blog/python-isalpha-isnumeric-isalnum/)
[SOURCE02](https://careerkarma.com/blog/python-startswith-and-endswith/)
[SOURCE03](https://www.geeksforgeeks.org/python-startswith-endswidth-function/)
[SOURCE04](https://towardsdatascience.com/check-for-a-substring-in-a-pandas-dataframe-column-4b949f64852#:~:text=The%20contains%20method%20in%20Pandas,str.)

___

In [ ]:
df

**isalpha()** Function in pandas python checks whether the string consists of alphabetic characters only. It returns True when alphabetic value is present and it returns False when the alphabetic value is not present.

In [ ]:
df.job.str.isalpha()

**isnumeric()** checks whether all characters in each string are numeric. This is equivalent to running the Python string method str. isnumeric() for each element of the Series/Index.

In [ ]:
df.age.str.isnumeric()

In [ ]:
df.age.astype("string").str.isnumeric()

**isalnum()** Function in python checks whether the string consists of alphanumeric characters. It returns True when alphanumeric value is present and it returns False when the alphanumeric value is not present. Alphanumeric means a character that is either a letter or a number.

In [ ]:
df.salary.str.isalnum()

Pandas **startswith()** tests if the start of each string element matches a pattern. It is yet another method to search and filter text data in Series or Data Frame. This method is Similar to Python’s startswith() method, but has different parameters and it works on Pandas objects only. Hence .str has to be prefixed everytime before calling this method, so that the compiler knows that it’s different from default function.

In [ ]:
df.job.str.startswith("d")

Pandas **endswith()** method is a built-in function that determines whether the given string ends with a specific sequence of characters.

In [ ]:
df.job.str.endswith("per")

The **contains()** method in Pandas allows you to search a column for a specific substring. The contains method returns boolean values for the Series with True for if the original Series value contains the substring and False if not [SOURCE](https://towardsdatascience.com/check-for-a-substring-in-a-pandas-dataframe-column-4b949f64852#:~:text=The%20contains%20method%20in%20Pandas,str.).

In [ ]:
df.job.str.contains("data")

In [ ]:
df.salary.str.contains(r"[a-z]", regex=True)

we can use these string methods which returning boolean expression for creating condition and so selecting relative rows

In [ ]:
df[df.job.str.contains("data")]

In [ ]:
df.loc[df.job.str.contains("data"), "department"]

In [ ]:
df[df.job.str.contains("data")]["department"]

In [ ]:
df.loc[df.job.str.contains("data"), "department"] = "DS"
df

In [ ]:
df.loc[df.job.str.contains("data"), "department"] = "IT"
df

___

- **str.replace() =>** Returns a string where a specified value is replaced with a specified value

- **str.split()	=>** Splits the string at the specified separator, and returns a list

- **str.strip()	=>** Returns a trimmed version of the string

- **str.find()	=>** Searches the string for a specified value and returns the position of where it was found

- **str.findall()	=>** Returns a list of all occurrence of the pattern.

- **str.join()	=>** Converts the elements of an iterable into a string

___

In [ ]:
df

**NOTE:** For a better using and understanding of strip, please revise escape characters in python [Source01 for Escape Characters](https://www.python-ds.com/python-3-escape-sequences) & [Source02 for Escape Characters](https://www.w3schools.com/python/gloss_python_escape_characters.asp)

In [ ]:
df.salary.str.strip("\"") # escape the "

In [ ]:
df.salary.str.strip("\"").str.rstrip("dolar")

In [ ]:
df.salary.str.strip("\"").str.rstrip("dolar").str.lstrip("$")

[pandas.str.strip](https://pandas.pydata.org/pandas-docs/version/0.24/reference/api/pandas.Series.str.strip.html) Documentation

In [ ]:
df.salary.str.strip("\"dolar$")

In [ ]:
df.salary.str.strip("\"dolar$").str.replace(",", "")

#df.salary.str.strip("\"dolar$").replace(",", "") # gives an error

In [ ]:
df.salary.str.strip("\"dolar$").str.replace(",", "").astype(float)

In [ ]:
df["salary"] = df.salary.str.strip("\"dolar$").str.replace(",", "").astype(float)
df.salary

In [ ]:
df.age

In [ ]:
df.age.replace("-", np.nan)

#df.age.str.replace("-", np.nan) # gives an error

In [ ]:
df["age"] = df.age.replace("-", np.nan)
df.age

### ``df.str.replace()`` vs ``df.replace()``

- **Purpose:** Use **Series.str.replace** for substring replacements on a single string column, and **DataFrame.replace** for any general replacement on one or more columns.

- **Usage:** **Series.str.replace** can replace one thing at a time. **DataFrame.replace** lets you perform multiple independent replacements, i.e., replace many things at once.

- **Default behavior:** **Series.str.replace** enables regex replacement by default. **DataFrame.replace** only performs a full match unless the regex=True switch is used.

- [DataFrame.replace Documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html)

- [Series.str.replace Documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html)

**Indexing with .str[]** 

You can use [] notation to directly index by position locations [SOURCE](https://pandas.pydata.org/pandas-docs/version/0.15/text.html).

In [ ]:
df.staff

In [ ]:
df.staff.str.title().str.split().str[0]

In [ ]:
df["name"] = df.staff.str.title().str.split().str[0]
df["surname"] = df.staff.str.title().str.split().str[1]
df.drop("staff", axis=1, inplace=True)

In [ ]:
df

In [ ]:
df.job

**str.find** returns lowest indexes in each strings in the Series/Index. Each of returned indexes corresponds to the position where the substring is fully contained between [start:end]. Return -1 on failure. Equivalent to standard str.find().

**str.rfind** returns highest indexes in each strings in the Series/Index. Each of returned indexes corresponds to the position where the substring is fully contained between [start:end]. Return -1 on failure. Equivalent to standard str.rfind().

In [ ]:
df.job.str.find("s")

**str.findall** finds all occurrences of pattern or regular expression in the Series/Index [SOURCE](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.findall.html).

In [ ]:
df.job.str.findall("s")

In [ ]:
df["skills"] = [[],["Java","C++"],["Python","Tableau","SQL"],[],["React","Django"],["JavaScript","Python"],["R","SQL"],["SQL","Python"]]
df["Skills"] = [[],[],["Python","Tableau","SQL"],[],["React","Django"],["JavaScript","Python"],["R","SQL"],["SQL","Python"]]
df.loc[1, "Skills"] = "Java,C++"
df

If the elements of a Series are lists themselves, join the content of these lists using the delimiter passed to the function. This function is an equivalent to str.join() [SOURCE](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.join.html).

**Join** lists contained as elements in the Series/Index with passed delimiter.

In [ ]:
df.skills.str.join(",")

In [ ]:
df.Skills.str.join(",")

In [ ]:
df.Skills.apply(lambda item: ",".join(item) if type(item) == list else item)

In [ ]:
[",".join(item) if type(item) == list else item for item in df.Skills]

In [ ]:
df["Skills"] = [",".join(item) if type(item) == list else item for item in df.Skills]
df.Skills

In [ ]:
df

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:LEFT; border-radius:10px 10px;">Dummy Operations</p>

<a id="1.3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

A dataset may contain various type of values, sometimes it consists of categorical values. So, in-order to use those categorical value for programming efficiently we create dummy variables. A dummy variable is a binary variable that indicates whether a separate categorical variable takes on a specific value [SOURCE](https://www.geeksforgeeks.org/how-to-create-dummy-variables-in-python-with-pandas/).

### get_dummies()

**Syntax1:** ``pd.get_dummies(data, prefix=None, prefix_sep="_",)``<br>
            **OR**<br>
**Syntax2:** ``df["col_name"].get_dummies(sep = ",")``

**Parameters:**
- data= input data i.e. it includes pandas data frame. list . set . numpy arrays etc.
- prefix= Initial value
- prefix_sep= Data values separation.
- Return Type: Dummy variables.

In [ ]:
pd.get_dummies(df.department)

As you can see two(2) dummy variables are created for the three categorical values of the "department" attribute. We can create dummy variables in python using **``get_dummies()``** method.

Dummies with **``drop_first=True``** parameter can be used to drop the first column. drop_first=True is important to use, as it helps in reducing the extra column created during dummy variable creation. Hence it reduces the correlations created among dummy variables. In other words it drops the first dummy to avoid the creation of correlated features [SOURCE](https://stackoverflow.com/questions/63661560/drop-first-true-during-dummy-variable-creation-in-pandas#:~:text=1%20Answer,correlations%20created%20among%20dummy%20variables.).

In [ ]:
pd.get_dummies(df.department, drop_first=True)

In [ ]:
df.Skills

In [ ]:
df.Skills.str.get_dummies(sep=",")

In [ ]:
df.Skills.str.get_dummies(sep=",").add_prefix("skills_")

In [ ]:
skills_dummy = df.Skills.str.get_dummies(sep=",").add_prefix("skills_")

In [ ]:
df_final = df[["department", "job", "salary", "Skills"]]
df_final

In [ ]:
df_final.join(skills_dummy)

In [ ]:
df_final = df_final.join(skills_dummy)
df_final.drop("Skills", axis=1, inplace=True)

In [ ]:
df_final

In [ ]:
pd.get_dummies(df_final, drop_first = True)

In [ ]:
df_final = pd.get_dummies(df_final, drop_first = True)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Working with Time Data</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

As someone who works with time series data on almost a daily basis, it's clear that the pandas Python package is extremely useful for time series manipulation and analysis. This basic introduction to time series data manipulation with pandas should allow you to get started in your time series analysis. Specific objectives are to show you how to:
- create a date range
- work with timestamp data
- convert string data to a timestamp
- index and slice your time series data in a data frame
- resample your time series for different time period aggregates/summary statistics
- compute a rolling statistic such as a rolling average
- work with missing data
- understand the basics of unix/epoch time
- understand common pitfalls of time series data analysis [SOURCE](https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea)

In this section, we will introduce how to work with each of these types of date/time data in Pandas. This short section is by no means a complete guide to the time series tools available in Python or Pandas, but instead is intended as a broad overview of how you as a user should approach working with time series [SOURCE](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html).

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:LEFT; border-radius:10px 10px;">pd.to_datetime()</p>

<a id="2.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

For more and detailed information about to_datetime() metod, please [Visit Official Document](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

**``pd.to_datetime()``** Converts argument to datetime.

This function converts a **``scalar``**, **``array-like``**, **``Series``** or **``DataFrame/dict-like``** to a pandas datetime object.

**As stated above, many input types are supported, and lead to different output types:**

- **``scalars``** can be int, float, str, datetime object (from stdlib datetime module or numpy). They are converted to Timestamp when possible, otherwise they are converted to datetime.datetime. None/NaN/null scalars are converted to NaT.

- **``array-like``** can contain int, float, str, datetime objects. They are converted to DatetimeIndex when possible, otherwise they are converted to Index with object dtype, containing datetime.datetime. None/NaN/null entries are converted to NaT in both cases.

- **``Series``** are converted to Series with datetime64 dtype when possible, otherwise they are converted to Series with object dtype, containing datetime.datetime. None/NaN/null entries are converted to NaT in both cases.

- **``DataFrame/dict-like``** are converted to Series with datetime64 dtype. For each row a datetime is created from assembling the various dataframe columns. Column keys can be common abbreviations like [‘year’, ‘month’, ‘day’, ‘minute’, ‘second’, ‘ms’, ‘us’, ‘ns’]) or plurals of the same.

[Special Note :](https://pandas.pydata.org/docs/getting_started/intro_tutorials/09_timeseries.html)

As many data sets do contain datetime information in one of the columns, pandas input function like [pandas.read_csv()](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas.read_csv) and [pandas.read_json()](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html#pandas.read_json) can do the transformation to dates when reading the data using the **``parse_dates parameter``** with a list of the columns to read as Timestamp.

Why are these **``pandas.Timestamp``** objects useful? Let's illustrate the added value with some example cases. In this sense, let us assume that we want to work with the dates in the column datetime as datetime objects instead of plain text:

In [ ]:
s = pd.date_range(start='2019-01-01', periods=12, freq='M')
df = pd.DataFrame(s, columns=['Date'])
print(df)

In [ ]:
s = pd.date_range('2019-01-01', periods=12, freq='BM')
df = pd.DataFrame(s, columns=['Date'])
print(df)

In [ ]:
s = pd.date_range('2023-01-01', periods=20, freq='D')
df = pd.DataFrame(s, columns=['Date'])
print(df)

In [ ]:
from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday, USFederalHolidayCalendar, EasterMonday, Easter
from pandas.tseries.offsets import Day, CustomBusinessDay

In [ ]:
print(USFederalHolidayCalendar.rules[0])

In [ ]:
festivities = ['2019-02-28','2019-05-31'] #both on Friday
my_bank_holidays = pd.tseries.offsets.CustomBusinessMonthEnd(holidays=festivities)
s = pd.date_range('2019-01-01', periods=12, freq=my_bank_holidays)
df = pd.DataFrame(s, columns=['Date'])
df['n_days'] = df['Date'].diff().dt.days.fillna(0)
print(df)

Creating Holiday Calendars:

* [Create a custom calendar](https://sodocumentation.net/pandas/topic/7976/holiday-calendars)
* [Holiday Calendars with pandas](https://towardsdatascience.com/holiday-calendars-with-pandas-9c01f1ee5fee)

In [ ]:
df = pd.read_csv("time_exercise.csv")
df.head()

In [ ]:
df.info()

In [ ]:
df2 = pd.read_csv("time_exercise.csv", 
                 parse_dates=["order_date", "entry_date"])
df2.head()

In [ ]:
df2.info()

Back to `df` wherein the date columns are still object type, individually strings.

In [ ]:
df["order_date"]

Initially, the values in datetime are character strings and do **NOT** provide any datetime operations (e.g. extract the year, day of the week,…). By applying the to_datetime function, pandas interprets the strings and convert these to datetime (i.e. ``datetime64[ns, UTC]``) objects. In pandas we call these datetime objects similar to datetime.datetime from the standard library as [pandas.Timestamp](https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html#pandas.Timestamp).

In [ ]:
pd.to_datetime(df["order_date"])

In [ ]:
df["entry_date"] = pd.to_datetime(df["entry_date"])
df["order_date"] = pd.to_datetime(df["order_date"])

In [ ]:
df.head()

In [ ]:
df.info()

Now let's apply some aggregate methods for Datatime object at the given dataset:

In [ ]:
df.entry_date.min()

In [ ]:
df.entry_date.max()

In [ ]:
df.entry_date.max() - df.entry_date.min()

In [ ]:
a = pd.Series(["15-03-2020", "18-05-2019", "24-07-2018"])
a

In [ ]:
a.max()

In [ ]:
# a.max() - a.min()

# # Give an error of "TypeError: unsupported operand type(s) for -: 'str' and 'str'""

In [ ]:
pd.to_datetime(a, format='%d-%m-%Y')

In [ ]:
a = pd.to_datetime(a, format='%d-%m-%Y')
a

In [ ]:
k = pd.to_datetime(a, format='%d-%m-%Y').max()
k

In [ ]:
s = pd.to_datetime(a, format='%d-%m-%Y').min()
s

In [ ]:
k - s

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:LEFT; border-radius:10px 10px;">Series.dt()</p>

<a id="2.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Accessor object for datetimelike properties of the Series values [SOURCE](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.html).

For a comprehensive information what the datetimelike properties, please visit [Official Pandas API Reference Document](https://pandas.pydata.org/pandas-docs/version/0.22/api.html#datetimelike-properties)

In [ ]:
df["entry_date"].dt.year 

# it can be date, year, quarter, month, week, day, weekday, dayofweek, hour, minute, second, microsecond

In [ ]:
df.entry_date.dt.quarter

In [ ]:
df.entry_date.dt.dayofweek

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:LEFT; border-radius:10px 10px;">Datetime Module</p>

<a id="2.3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

The datetime module supplies classes for manipulating dates and times [SOURCE](https://docs.python.org/3/library/datetime.html).

### ``class datetime.datetime``

A combination of a date and a time. Attributes: year, month, day, hour, minute, second, microsecond, and tzinfo.

In [ ]:
from datetime import datetime

In [ ]:
datetime.now()

In [ ]:
print(datetime.now())

In [ ]:
print(datetime.today())

In [ ]:
current_datetime = datetime.now()

print(current_datetime)

In [ ]:
current_datetime.date() 

# it can be date, year, month, day, weekday, isoweekday, hour, minute, second, microsecond, tzinfo

In [ ]:
current_datetime.year

In [ ]:
current_datetime.weekday() 

# Return the day of the week as an integer, where Monday is 0 and Sunday is 6.

In [ ]:
current_datetime.isoweekday() 

# Return the day of the week as an integer, where Monday is 1 and Sunday is 7.

### ``class datetime.timedelta``

A duration expressing the difference between two date, time, or datetime instances to microsecond resolution [SOURCE](https://www.geeksforgeeks.org/manipulate-date-and-time-with-the-datetime-module-in-python/).

In [ ]:
from datetime import timedelta

In [ ]:
timedelta(days=2)

In [ ]:
print(timedelta(days=2))

In [ ]:
current_datetime

In [ ]:
two_days_before = current_datetime - timedelta(days=2)
two_days_before

In [ ]:
current_datetime + timedelta(weeks=2, days=3, hours=4, minutes=10)

In [ ]:
print(f"{'current_date': <15}", current_datetime)

print(f"{'plus': <15}", timedelta(weeks=2, hours=4, minutes=10))

print(f"{'total': <15}", current_datetime + timedelta(weeks=2, days=3, hours=4, minutes=10))

### ``strftime()``

**Converting** from date/datetime/timedelta object **to string type** [SOURCE](https://strftime.org/)

In [ ]:
current_datetime

In [ ]:
print(current_datetime)

In [ ]:
current_datetime.year  # This is class datetime.datetime provided by Datetime Module

**Watch out the difference.**

In [ ]:
current_datetime.strftime("%Y")  # This is a strftime(format) method provided by Datetime Module

In [ ]:
year = current_datetime.strftime("%Y")
print("year:", year)

month = current_datetime.strftime("%m")
print("month:", month)

day = current_datetime.strftime("%d")
print("day:", day)

time = current_datetime.strftime("%H:%M:%S")
print("time:", time)

date_time = current_datetime.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:", date_time)

### strptime()

**Converting** from string type **to datetime object**

[How to pronunce strptime](https://www.pronouncekiwi.com/Strptime)

In [ ]:
date_string = "21 June, 2018"
date_string

In [ ]:
datetime.strptime(date_string, "%d %B, %Y")

#datetime.strptime(date_string) # gives an error

In [ ]:
pd.to_datetime(date_string)

In [ ]:
datetime_object = datetime.strptime(date_string, "%d %B, %Y")
datetime_object

In [ ]:
datetime_object.year

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Operation with Datetime Object</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

## Let's detect the time between first order date and entry date for each product

In [ ]:
df

In [ ]:
len(df.id_product.unique())

**Let us do it by string methods**

In [ ]:
df["order_date"] - df["entry_date"]

In [ ]:
df["passing_time_to_firstsale"] = df["order_date"] - df["entry_date"]
df.head(3)

In [ ]:
df["passing_time_to_firstsale"].astype("str").str.split(" ").str[0].astype(int)

In [ ]:
df["passing_time_to_firstsale"] = df["passing_time_to_firstsale"].astype("str").str.split(" ").str[0].astype(int)
df

In [ ]:
df.groupby("id_product")["passing_time_to_firstsale"].min()

In [ ]:
df.groupby("id_product")["passing_time_to_firstsale"].transform(min)

In [ ]:
df["passing_time_to_firstsale"] = df.groupby("id_product")["passing_time_to_firstsale"].transform(min)
df

## Let's detect the time between last order date and today for each product

**This time, let us do it by datetime properties**

In [ ]:
df.groupby("id_product").order_date.max()

In [ ]:
df.groupby("id_product").order_date.transform(max) # .dt.date

In [ ]:
last_order_date = df.groupby("id_product").order_date.transform(max).dt.date

In [ ]:
today = pd.to_datetime("27-02-2021", format='%d-%m-%Y').date()
print(today)

In [ ]:
today - last_order_date

In [ ]:
df["passing_time_from_lastsale"] = today - last_order_date

In [ ]:
df["passing_time_from_lastsale"] = df["passing_time_from_lastsale"].astype("str").str.split(" ").str[0].astype(int)
df

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of Session - 10</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>