#### Clarusway Python

* [Instructor Landing Page](landing_page.ipynb)
* <a href="https://colab.research.google.com/github/4dsolutions/clarusway_data_analysis/blob/main/basic_python/02.session02.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>
* [![nbviewer](https://raw.githubusercontent.com/jupyter/design/master/logos/Badges/nbviewer_badge.svg)](https://nbviewer.org/github/4dsolutions/clarusway_data_analysis/blob/main/basic_python/02.session02.ipynb)

<a id="toc"></a>

## <p style="background-color:#0D8D99; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Python Session 02</p>

#### <div class="alert alert-block alert-info"><h1><p style="text-align: center; color:purple">Variables & Naming Rules<br><br>Strings & Numeric Types& Boolean Types<br><br>Type Conversion<br></p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Variables & Naming Variable</p>

**Link 1 - Variables in Python: https://realpython.com/python-variables/**

**Link 2 - Python Variables: https://www.w3schools.com/python/python_variables.asp**

**Assigning a value to a variable:**

![python.exe](https://drive.google.com/uc?id=1m9D9aCDrEb9f6RGLZSF_gFsbsyvOtUso)

**The value on the right side of the equation is assigned to the variable on the left side of the equation.**

In [ ]:
school = "clarusway"

**Bad variable name examples:**

In [ ]:

Con_PEP_N_Rl = "Conventional (PEP 8) Naming Rules"

In [ ]:
l = 3.14  # This is lowercase letter el
I = 3.14  # This is uppercase letter eye
1 = 'something wrong'  # This is number one.

In [ ]:
time_O = '3.14'  # This is uppercase letter “O”
time_0 = '3.14'  # This is number zero

In [ ]:
s = "Kirby"  # student
st = "Betty"  # student

In [ ]:
average_income_february = 20000  # Average income of February

**Some correct variable names:**

In [ ]:
variable = 3.14
var_one = 'something'
time_zero = '3.14'
big_data = 9999  # Big Data
students = "Edwin"
avg_income_feb = 20000  # Average income of February

 **Different types of data can be assigned to variables.**

In [ ]:
planet = 'jupyter'
price = 140
pi_number = 3.14
logic = True

print(planet)
print(price)
print(pi_number)
print(logic)

jupyter
140
3.14
True

**Python keywords cannot be assigned as variable names**

In [ ]:
or = "kirby"

SyntaxError: invalid syntax (Temp/ipykernel_17612/982785311.py, line 1)

In [ ]:
if = 22

SyntaxError: invalid syntax (3280009931.py, line 1)

**You can use keywords by putting other characters between them.**

In [ ]:
if_or_else = "clarusway"

In [ ]:
if_or_else

'clarusway'

In [ ]:
class_ = "ali"
class_

'ali'

**Special characters cannot be used in variable names**

In [ ]:
_al?i = "absurd"

SyntaxError: invalid syntax (2772885082.py, line 1)

**Some special characters:**

In [ ]:
!'^+%&/()=?|{[}]#$,;~'

**You can assign a value to more than one variable**

In [ ]:
x = y = z = 10
print(x, y, z)

10 10 10

In [ ]:
kirby = a = betty = "40"

In [ ]:
print(kirby)
print(a)
print(betty)

40
40
40

**You cannot assign an undefined variable to variables! because it has no value in it**

In [ ]:
a = b = c = Samuel
print(a)

NameError: name 'Samuel' is not defined

**Once you have defined a variable, you can assign its value to other variables.**

In [ ]:
kirby = 30

a = b = c = kirby

print(a,b,c)

30 30 30

In [ ]:
a = 11
b = 22
c = 44

a = 33
b = 55
c = a

print(a, b, c)

33 55 33

**Updating a variable**  
**The variable holds the last value assigned to it.**

In [ ]:
my_age = 33
your_age = 30
my_age = your_age
print(my_age)

30

**Assigning the value of another variable to a variable::**

In [ ]:
first_number = 100
second_number = first_number
print(second_number)

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">type() function</p>

**Python official documentation - type() function: https://docs.python.org/3/library/functions.html#type**

In [ ]:
type()  
# shift + tab + tab  
# type() fonksiyonunun "Docstring"ini oku!

In [ ]:
type("kirby and betty")

str

 Simple Arithmetic Operations</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Strings & Numeric & Boolean Types</p>

**Python official documentation - Data Types: https://docs.python.org/3/library/datatypes.html**

**Link 2- Python Data Types: https://www.w3schools.com/python/python_datatypes.asp**

In [ ]:
my_text = 'being a good person'
print(my_text)

being a good person

In [ ]:
type("kirby, betty, samuel")

str

In [ ]:
type(a)

int

In [ ]:
10.5

10.5

In [ ]:
type(10.5)

float

In [ ]:
10 == 10.0

True

In [ ]:
a = True
a

True

In [ ]:
type(float(3))

float

In [ ]:
int("10")

10

In [ ]:
a = int("11")
type(a)

int

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Type Conversion</p>

**Python official documentation - Type Conversion in Python: https://discuss.python.org/t/what-is-type-conversion-in-python/6584**

**Link 2: Type Conversion in Python: https://www.geeksforgeeks.org/type-conversion-in-python/**

**int() function; Convert a number or string to an integer, or return 0 if no arguments
are given.**

In [ ]:
int("ten")

ValueError: invalid literal for int() with base 10: 'ten'

In [ ]:
int("10")

10

**float() function; Convert a string or number to a floating point number, if possible.**

In [ ]:
float("10")

10.0

In [ ]:
float("10.8")

10.8

In [ ]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

print(x - int(v))
print(x - float(y))
print(z + str(x))

28
36.5
I am at_39

![python.exe](https://drive.google.com/uc?id=1oY07NFR8n0Q3oP9CwwxLWh40cGEb_YkU)