#### Clarusway Python

* [Instructor Landing Page](landing_page.ipynb)
* <a href="https://colab.research.google.com/github/4dsolutions/clarusway_data_analysis/blob/main/basic_python/13.Python_Session13.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>
* [![nbviewer](https://raw.githubusercontent.com/jupyter/design/master/logos/Badges/nbviewer_badge.svg)](https://nbviewer.org/github/4dsolutions/clarusway_data_analysis/blob/main/basic_python/13.Python_Session13.ipynb)

<a id="toc"></a>

<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/54126336201/in/album-72177720296706479" title="Session 13 banner"><img src="https://live.staticflickr.com/65535/54126336201_bf3697b3f1_b.jpg" width="1024" height="576" alt="Session 13 banner"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>


# <p style="background-color:#0D8D99; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Python Session 13</p>

#### <div class="alert alert-block alert-info"><h1><p style="text-align: center; color:purple">Operations with For Loop<br><br>Nested For Loop<br><br>iterable & iterator concepts + iter() function + Usage of iterators in for loops<br><br>Some Additional Practical Uses:<br>(Concatenate Two Lists by "+" Operator, <br>Tuple packing&unpacking,<br>Placeholder)</p>

**Python official documentation1 - More Flexible Loop Control: https://peps.python.org/pep-0548/**

**Python official documentation2 - Enhenced while loop: https://peps.python.org/pep-0315/**

**Python official documentation - Labeled "break" and "continue": https://peps.python.org/pep-3136/**

**Link 4 - Loops in Python: https://www.w3schools.com/python/python_for_loops.asp**

**Link 5 - Loops in Python: https://www.geeksforgeeks.org/loops-in-python/**

**Link 6 - Loops : https://www.learnpython.org/en/Loops**

**Link 7 - Nested Loops: https://www.w3schools.com/python/gloss_python_for_nested.asp**

**Link 8 - Nested Loops: https://pynative.com/python-nested-loops/**

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Operations with For Loop</p>

In [1]:
times = int(input("How many times should I say 'I love you'"))

for i in range(times) :
    print("I love you")

How many times should I say 'I love you' 5

I love you
I love you
I love you
I love you
I love you

## Task :
**This time, write a code block that asks the user a number between 1 and 10 then puts that number into the multiplication table.**

For example, the output for 5 should be as follows :
```
5x0 =  0
5x1 =  5
5x2 =  10
5x3 =  15
5x4 =  20
5x5 =  25
5x6 =  30
5x7 =  35
5x8 =  40
5x9 =  45
5x10 =  50
```

In [2]:
number = int(input("enter a number between 1-9"))

for i in range(11) :
    print(f"{number} x {i} = {number * i}")

enter a number between 1-9 5

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [3]:
range(5)  # a lazy range object generated.

range(0, 5)

In [4]:
print(* range(5))  # i can use asterisk to make it visible

0 1 2 3 4

In [5]:
set(range(5))  # or I can put it in a collection. this collection type may be a set.

{0, 1, 2, 3, 4}

In [6]:
list(range(5))  # or may be a list.

[0, 1, 2, 3, 4]

In [7]:
# another way to make it visible is using for loop.

for i in range(5) :
    print(i, end = " ")

0 1 2 3 4

In [8]:
print(* range(10, 1, -1))

10 9 8 7 6 5 4 3 2

In [9]:
print(* "kirby")

k i r b y

## Task :
**Python Program to print out the numbers.
Using the for loop, print the numbers from 1 to 9 as many as it is and get the following output.**

```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [10]:
"5" * 5

'55555'

In [11]:
"ally" * 3

'allyallyally'

In [12]:
"ally " * 3

'ally ally ally '

In [13]:
for i in range(1, 10) :
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [14]:
text = ["one", "two", "three", "four", "five"]

numbers = [1, 2, 3, 4, 5]

In [15]:
zip(text, numbers)

In [16]:
print(* zip(text, numbers))

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [17]:
list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [18]:
text = ["one", "two", "three", "four", "five"]

numbers = [1, 2, 3]

list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3)]

In [19]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]

zipped = zip(text, numbers)   # a zip object generated by zip() func.

print(list(zipped))

zipped = zip(text, numbers)   # a zip object generated by zip() func.

for x, y in zipped :
    print(x, " : ", y)

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]
one  :  1
two  :  2
three  :  3
four  :  4
five  :  5

In [20]:
list(zipped)

[]

**Since the elements are used and displayed in the for loop, the object generated by the zip() function is now empty.**

**It should now be redefined.**

In [21]:
zipped = zip(text, numbers)

dict(zipped)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [22]:
set(zipped)

set()

In [23]:
import itertools

In [24]:
a=[1,2,3,4,5,6]
b=["1","2","3"]
c=[True, False]

print(* itertools.zip_longest(a,b,c, fillvalue="@"))

(1, '1', True) (2, '2', False) (3, '3', '@') (4, '@', '@') (5, '@', '@') (6, '@', '@')

## Task :
**Python Program to collect the odd and even numbers in two different lists.
Write a program to choose and collect the even and odd numbers (1 to 10) in two different list.**

Print the result such as :

evens: [0, 2, 4, 6, 8]

odds : [1, 3, 5, 7, 9]

In [25]:
evens = []
odds = []

for n in range(1, 11) :

    if n % 2 == 0 :
        evens.append(n)
    else :
        odds.append(n)

print("evens :", evens)

print("odds :", odds)

evens : [2, 4, 6, 8, 10]
odds : [1, 3, 5, 7, 9]

## Task :
**Python Program to sum the amount of odd and even numbers in a tuple/list.
Write a code that counts the odd and even numbers in a given list or tuple. Print the result such as :**

example list: [11, 2, 24, 61, 48, 33, 3]

example output :

The number of even numbers : 3

The number of odd numbers : 4

In [26]:
numbers = (11, 36, 33, 66, 89, 21, 32, 16, 10)
evens = 0
odds = 0

for i in numbers :

    if i % 2 == 0 :
        evens += 1
    else :
        odds += 1

print("evens count :", evens)
print("odds count :", odds)

evens count : 5
odds count : 4

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Nested For Loop</p>

In [27]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for k in who :
    for l in mood :
        print(k + l)

I am happy
I am confident
You are happy
You are confident

## Task :
**Concatenation string elements from two separate lists.**

**Write a code that takes string elements one by one and prints a sentence using nested for loops :**

**The given lists and sample outputs are :**


names = ["susan", "tom", "edward"]

mood = ["happy", "sad"]

example output :

                 susan is happy
                 susan is sad
                 tom is happy
                     .
                     .

In [28]:
names = ['Susan', 'Tom', 'Edward']
mood = ['happy', 'sad']
for k in names :
    for l in mood :
        print(k + " is " + l)

Susan is happy
Susan is sad
Tom is happy
Tom is sad
Edward is happy
Edward is sad

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">iterable & iterator concepts + iter() function + Usage of iterators in for loops

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">What is "iterable"?</p>

<hr>

**An iterable is an object in programming that can be iterated, or looped over, such as a list, tuple, set, or dictionary.
In simpler terms, an iterable is anything that can be processed in a for loop.**

When a program iterates over an iterable, it accesses each item or element of the iterable in turn, allowing for manipulation or processing of the data.
<hr>

<hr>

The iterable data types:

**Lists:** They store elements in a sequential order and are mutable.

**Tuples:** They store elements in a sequential order but are immutable.

**Dictionaries:** They store key-value pairs and elements can be accessed using keys.

**Sets:** They store unique elements and are unordered.

**Strings:** They are stored as character sequences and are ordered.

**File Objects:** They are used to read lines or characters from a file.

**Generators:** They are functions used for iteration, and they produce elements in sequence without storing them in memory
<hr>

In [29]:
range(1,11)

# the range() object is calculated "lazily" in a "lazy" way to minimize memory usage,
# which means that the range object does not contain any elements until it is iterated

range(1, 11)

<hr>

the range() object is calculated "lazily" in a "lazy" way to **minimize memory usage**, which means that the range object does not contain any elements until it is iterated. **This means that the range() object does not appear to have any elements before being iterated.**

The result of the range() function is a range object, which generates the integers in the specified range when iterated.

However, the range object does not hold the entire range in memory, and only produces elements when it is iterated. This is particularly useful for optimizing memory usage for large ranges.
<hr>

In [30]:
type(range(1,11))

# This is an object of type range.

range

In [31]:
# Since range objects have the iterable property, they can be indexed and sliced.

range(10)[4]

# The type of the object returned by indexing is the same as its own type.

4

In [32]:
type(range(10)[4])

int

In [33]:
range(10)[::2]

# The type of the object returned by slicing is the same as the type of the sliced object,
# so as you can see, it still returns a range object.

range(0, 10, 2)

In [34]:
type(range(10)[::2])

range

In [35]:
# One of the methods used to make range objects visible is
   # to place them inside a collection such as "list"

list(range(1,11))

# Now, the range object has been converted into a list object.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
# Since list objects are iterable, they can be indexed.

list(range(1,11))[2]

3

In [37]:
my_list = list(range(1,11))
my_list[2]

3

In [38]:
# Or, I can return multiple elements of the list by slicing it.:

my_list[:7:2]

[1, 3, 5, 7]

In [39]:
range(0, 10, 2)

range(0, 10, 2)

In [40]:
set(range(0, 10, 2))

{0, 2, 4, 6, 8}

In [41]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [42]:
list(range(0, 10, 2))[2]

4

In [43]:
my_list = list(range(1, 11))
my_list[2]

3

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">What is "iterator"?</p>

<hr>

**An iterator is an object in Python that enables iteration, which allows returning one item at a time from an object.**

Iterator objects contain two special methods: **iter()** and **next()**. Applying these methods to an iterator object and getting a value means that you are inside an object with iterator properties. For example, lists, tuples, and strings in Python have this property.

Therefore, Python iterators are objects that contain a countable number of values and are generated from an iterable object.

How are they generated?
**hey are generated using the iter() method.**

How can their elements be iterated over one by one?
**They can be iterated over using the next() method.**
<hr>

<hr>

**Due to these properties, iterators can be used in loops, lists, tuples, and generators** in the Python programming language.

Therefore, the following two methods are applied to any object to be used as an iterator:
**iter()** and **next()**

**The iter()** method creates an iterator object from an iterable object.
**The next()** method retrieves the elements of this iterator in sequence for use.
Note that there is another next() function besides the next() method.

As it retrieves the elements, it detaches them from the iterator. As I use the elements and empty the iterator, it becomes empty. Yes, just like a magazine being emptied.
<hr>

In [45]:
# iter()

iter() --> SHIFT TAB TAB

When we look at its docstring:

**iter(iterable) -> iterator: Takes an iterable object and returns an iterator object.**

**iter(callable, sentinel) -> iterator: Creates an iterator from a callable and a sentinel.**

So, it creates an iterator from an object.

![python.exe](https://drive.google.com/uc?id=1sKfPAHyLJfqo3IKpUORATr0ggcEBFNFi)

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">iter() function</p>

In [46]:
# Let's create a list.

my_list = [3, 6, 9, 12]

In [47]:
next(my_list)  # Let's try to iterate over the elements of this list one by one using the next() function.

TypeError: 'list' object is not an iterator

<hr>

As you can see, even though **lists** have **iterable** properties, **we cannot directly retrieve an element from a list using the next() function.**

Yes, lists are iterable, but **to iterate over them, we first need to create an "iterator" from them.**

<hr>

In [48]:
# let's create an iterator from the my_list list:

iter(my_list)

<hr>

We obtained an iterator from the list because the list is iterable.

Now we can use this iterator in a for loop or manually obtain

and use its elements one by one with the next() function.
<hr>

In [49]:
# first, let's check its type:

type(iter(my_list))

# the type of the created iterator is list_iterator.

list_iterator

In [50]:
# To use it practically, let me assign the iterator to a variable first.
# and then let's try to print it on the screen:

iterator = iter(my_list)

print(iterator)

<list_iterator object at 0x10d5771c0>

In [51]:
next(iterator)

3

<hr>

Notice that the **iter()** function, just like the **range()** function, created **a lazy iterator object.**

There were several ways to make a lazy object visible:

1. Converting it into a collection using functions such as list() and tuple().

2. Using it inside a for loop.

3. using the asterisk (*) operator in the print function.
<hr>

In [52]:
print(*iterator)

6 9 12

Can I see the iterator again if I want to see it now using the print function?

In [53]:
print(*iterator)

<hr>

When we made the iterator object visible using the **asterisk (*)** operator in the print function, the object was consumed, meaning that its elements were iterated over and printed out. Therefore, when we try to see the iterator again, **it will be empty because all its elements have already been consumed and we need to create a new iterator object if we want to iterate over its elements again.**

In summary, **iterating over an iterator consumes its elements and the iterator object needs to be recreated if we want to iterate over its elements again.**
<hr>

In [54]:
# I am recreating my iterator using the iter() function.

iterator = iter(my_list)

<hr>

So, the **iter()** function converts an object that can be iterated over.

An iterable object can be iterated over using the **next()** function.

For example, list objects are iterable, but integer objects are not iterable because an integer object does not have individual elements that can be iterated over.

Now let's take a look at what the next() function does:
<hr>

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Iterating over data with an iterator:</p>

**Let's now iterate over the elements of this iterator one by one and return them individually:**

In [55]:
next(iterator)

3

In [56]:
next(iterator)

# As you can see, it returned the next element in the sequence.

6

In [57]:
next(iterator)

9

<hr>

We can use the **next()** function to manually iterate through all the elements of an iterator.

**When we reach the end of the data in the iterator and there are no more elements, a StopIteration exception will be raised.**

Let's continue and see if we can reach the last element of the iterator.
<hr>

In [58]:
# The next() function and the next() method do the same thing.

print(iterator.__next__())

12

In [59]:
print(iterator.__next__())

# you have used all the elements in your iterator. It is now empty until it is refilled

StopIteration:

In [60]:
# Let's see all these operations together in a single cell:

my_iter = iter(my_list)

print(next(my_iter))
print(next(my_iter))
print(my_iter.__next__())
print(my_iter.__next__())

print("At this point, since the iterator has been emptied,\
we expect to get the StopIteration error in the next function.")
next(my_iter)

3
6
9
12
At this point, since the iterator has been emptied,we expect to get the StopIteration error in the next function.

StopIteration:

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using iterators in for loops</p>

In [61]:
# let's create a list of 3 strings.

my_list = ["orion", "michael", "edward"]

In [62]:
# I am using my_list as an iterator in a for loop.

for i in my_list:
    print(i, end=" ")

orion michael edward

<hr>

Have you ever wondered how the for loop is able to iterate over a list such as my_list?

The underlying mechanism behind this is the iter() and next() functions, which are the fundamental building blocks of the for loop. When you provide an iterable object (such as a list, tuple, dict, or range() function) to a for loop, the loop first creates an iterator object out of the given object using the iter() function.

In each iteration of the loop, the next() function is called to select the next item in the iterator. Finally, when the StopIteration exception is raised (indicating that there are no more items left in the iterator), the loop terminates.
<hr>

In [63]:
# Let's try to use an integer object as an iterator in a for loop now.

number = 234234

Note that our variable 'number' is an integer object, which does not have the iterable property.

In [64]:
for i in number :
    print(i)

# error!

TypeError: 'int' object is not iterable

<hr>

**integers cannot be used as iterators in for loops since integers are not divisible into individual elements.**

Regardless of how large an integer is, it is considered a single object and does not contain individual elements that can be iterated over or accessed.

Therefore, integers cannot be used as iterators in for loops since they do not have any iterable elements to iterate over.
<hr>

<hr>

**We mentioned that range objects are iterable, so they can be used as iterators in their original form without requiring any visible structure:**
<hr>

In [65]:
for i in range(10) :
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

I used the sequence of numbers generated by range(10) as an iterator. It produces numbers from 0 to 10

In [66]:
squares = []
for i in range(10) :
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Or, as in this code, I created a list of the squares of those numbers

By now, we know that:

The for loop first creates an iterator by applying the iter() function in the background.

Then, using the next() function, it performs the operation we specify in the code block of our for loop on each element of the iterator.

In [67]:
# Could this iterable be a string as well.

for i in "Thank goodness I am learning Python.":
    print(i.upper(), end="")

THANK GOODNESS I AM LEARNING PYTHON.

In [68]:
list(map(lambda x: x%2, squares))

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Some Additional Practical Use Cases

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Concatenate Two Lists by "+" Operator</p>

**When you want to collect the two lists given to you and make a single list from them, you can "concat" the elements of these two lists, just like strings. Finally, the two lists merge into a single list.**

In [69]:
[1, 2, 3] + ["ally", "kirby"] # see data types can be different

[1, 2, 3, 'ally', 'kirby']

In [70]:
# Let's add a third list to these.

[1, 2, 3] + ["ally", "kirby"] + [True]

[1, 2, 3, 'ally', 'kirby', True]

In [71]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2

print(concatenated_list)

[1, 2, 3, 4, 5, 6]

In [72]:
single_element_list = [7]
concatenated_list = concatenated_list + single_element_list

print(concatenated_list)

[1, 2, 3, 4, 5, 6, 7]

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Tuple packing & unpacking</p>

**Tuple Packing:** Creating a tuple by putting multiple values separated by commas. For example, my_tuple = 1, 2, 3 creates a tuple with three elements (1, 2, 3).

**Tuple Unpacking:** Extracting values from a tuple and assigning them to separate variables. For example, if my_tuple = 1, 2, 3, you can unpack it using a, b, c = my_tuple, which assigns 1 to a, 2 to b, and 3 to c.

In Python, there is a very powerful tuple assignment feature that assigns the right-hand side of values into the left-hand side. In another way, it is called **unpacking** of a tuple of values into a variable. In **packing**, we put values into a new tuple while in unpacking we extract those values into a single variable.

###  packing tuples:

**tuple1 = (obj1, obj2, ..., objN)**

### unpacking tuples:

**(obj1, obj2, ..., objN) = tuple1**

In [73]:
tuple(range(1, 8))

(1, 2, 3, 4, 5, 6, 7)

In [74]:
mon, tue, wed, thu, fri, sat, sun = tuple(range(1, 8))  # tuple unpacking

In [75]:
mon

1

In [76]:
fri

5

In [77]:
mytuple = ("apple", "banana", "cherry") # tuple packing

In [ ]:
green, yellow, red = mytuple

# or:

green, yellow, red = ("apple", "banana", "cherry")

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Placeholder Usage</p>

In Python, the underscore (_) is commonly used as a **placeholder** when you haven't determined the value of a variable or parameter yet. The underscore is used as a placeholder before specifying the value of a variable, and later the variable is assigned a value.

For example, before specifying one or more parameters of a function, you can define the parameters with an underscore placeholder:

**def my_function(_, y, z):**

Here, the first parameter of the function is used as a placeholder with an underscore (_) and its value is not important. The remaining parameters (y and z) will be used in the function.

**The underscore placeholder can also be used to indicate that the value of a variable is insignificant:**

In [78]:
a, b = (10, 20, 30, 40)

# error! (too many values to unpack (expected 2))

ValueError: too many values to unpack (expected 2)

**We got an error because we forced to assign 4 values to only 2 variables**

**but I persistently want to assign integer 10 to a and integer 30 to b.**

**In this case we can use placeholder in python. placeholders do not take up memory like a variable but act like a variable**

In [79]:
a, _, b, _ = (10, 20, 30, 40)

**Look, we made the assignment and no errors were raised.**

**In this way, we kept the 20 and 40 values with a place holder. We assigned the remaining 10 to a and 30 to b.**

In [80]:
_

# keeps on the most recently assigned value.

40

In [81]:
a

10

In [82]:
b

30

**Let's say you have a long collection. Imagine you have a list with thousands of elements. You don't want to assign each element to a separate variable. You don't want space occupation. you only need to work with some specific values among them. In this case, you can assign without indexing. You can do it without dealing with indexes, without dealing with each part of it separately.**

In [83]:
x, y, z = (11, 22, 33, 44, 55)

# error! (too many values to unpack (expected 3))

ValueError: too many values to unpack (expected 3)

**I will now assign the values 11 and 22 to x and y. Then i will assign all the rest to z.**

In [84]:
x, y, *z = (11, 22, 33, 44, 55)

In [85]:
x

11

In [86]:
y

22

In [87]:
z

[33, 44, 55]

**You can also pull the first 2 values without defining the z variable using an asterisk and a placeholder.**

In [88]:
x, y, *_ = (11, 22, 33, 44, 55)

In [89]:
x, y

(11, 22)

In [90]:
x, y, *z = (11, 22, 33, 44, 55, 66, 77)

In [91]:
z

[33, 44, 55, 66, 77]

**What if I want to pull the elements in between except the first two and the last element?**

In [92]:
x, y, *z, _ = (11, 22, 33, 44, 55, 66, 77)

In [93]:
z

[33, 44, 55, 66]