#### Clarusway Python

* [Instructor Landing Page](landing_page.ipynb)
* <a href="https://colab.research.google.com/github/4dsolutions/clarusway_data_analysis/blob/main/basic_python/landing_page.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>
* [![nbviewer](https://raw.githubusercontent.com/jupyter/design/master/logos/Badges/nbviewer_badge.svg)](https://nbviewer.org/github/4dsolutions/clarusway_data_analysis/blob/main/basic_python/landing_page.ipynb)

<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/52563704012/in/album-72177720296706479" title="LMS Dashboard"><img src="https://live.staticflickr.com/65535/52563704012_71ef4beb8a_b.jpg" width="1024" height="354" alt="LMS Dashboard"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

# BASIC PYTHON: LANDING PAGE

* [Clarusway Python](https://academy.clarusway.com/course/python)
* [#class-chat on Slack](https://ds1624us.slack.com/archives/C07Q0D661QA)
* [Python Playground](https://playground.programiz.com)
* [Python docs](https://docs.python.org/3/)
* [Python.org](https://python.org)

For additional resources, scroll to the end of this Notebook.

## Introduction

Per our session three lecture and lab, and Sam's intro, our approach to Python is colored (as in flavored) by the discipline of data science. The main business of data science, and statistics at its core, featuring ideas about randomness, expectations, likelihood, probability, is "predicting the future" not by superstitious means, but by squeezing as much information about the past as feasible, in terms of patterns, and extrapolating these patterns. You might be thinking about climate change and how the ice ages come and go. Do we expect a next ice age? When? Data scientists want to know.

However, in the context of learning data science, the data we explore might not have much bearing on what you will handle on the job. Rather than try to predict your specific needs, we use data that other students and teachers are using as well, and in that way benefit from a large and growing secondary literature.

Lets take a look at one of those datasets now...

In [1]:
import seaborn as sns

tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

What the above code cell presumes is that you have seaborn on board (in your syspath). Seaborn is what we call a "3rd party" package, meaning it lives outside the Python Standard Library. Most packages do. The Standard Library is relatively tiny. That's why we start the course by talking about these differences. By now you've heard about Anaconda.  You also know that Python was originally named for Monty Python, the BBC comedy troupe, and accessible to the young Guido van Rossum, Python's inventor.

Seaborn comes with a set of data sets, such as the one above, designed to bring new users up to speed with the tools, the objects and their methods within the seaborn namespace. By loading the tips data set, we create a new DataFrame type. Let me show you:

In [2]:
type(tips)

pandas.core.frame.DataFrame

In [3]:
len(dir(tips))

436

We've been playing with `dir( )`. What the above cells show us is a DataFrame, whatever that might be, has a humongous number of methods. This must be one honking big namespace, and it is.

What the above also tells us is the DataFrame type is defined deep inside a whole other package, not seaborn at all, called pandas.

*Exercise*:  scroll to the top of this landing page and pick out pandas and seaborn in the banner, they both have logos, then come back here and continue.

You may recall I mentioned software engineering and by extension data science, is easier if you fire up your imagination. For example, the tips DataFrame data is all about some smoke-filled restaurant, sometimes busy, sometimes not. Parties, meaning groups of people, with as few as one person, get seated in either the smoking or non-smoking section. 

We don't know if everyone in the party smokes, maybe some just put up with it. Our data is collected from the point of view of a server, going from table to table during specific meal times, on specific days of the week, seating people in smoking and not smoking, while also collecting bills and tips. 

The server notes if the bill payer is male or female and that's about it. We don't know if the bill payer is actually the one smoking in all cases. We don't know if the payer is being reimbursed by others in the party. Since there's always only one payer per group, let's assume a cash only economy so as not to confuse ourselves with a lot of credit cards.

My belief is if you play a movie in your head (daydream about the scene -- less expensive than AI), or find a collection of such movies (tied to the tips DataFrame), then you will have an easier time doing data analysis and finding out answers to such questions as to whether males or females tip more on a Saturday. You might need to trick yourself into caring. It's not the data, it's the tools. Once you learn the tools, the focus will become the data.

Let's look at two more data sets bundled with seaborn: penguins and titanic.

In [4]:
penguins = sns.load_dataset('penguins')
titanic = sns.load_dataset('titanic')

These data sets have nothing to do with one another and it's therefore odd (highly improbable) that we would want to have both open in the same analysis except in a context such as this one, when we're learning the ropes more than practicing our profession. We're learning our profession.

In [5]:
penguins.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [6]:
# help(penguins.describe) # <-- uncomment (remove first hash tag) and rerun for a (very) lengthy help message

In [7]:
penguins.describe(include = 'all')

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
count,344,344,342.000000,342.000000,342.000000,342.000000,333
unique,3,3,NaN,NaN,NaN,NaN,2
top,Adelie,Biscoe,NaN,NaN,NaN,NaN,Male
freq,152,168,NaN,NaN,NaN,NaN,168
mean,NaN,NaN,43.921930,17.151170,200.915205,4201.754386,NaN
std,NaN,NaN,5.459584,1.974793,14.061714,801.954536,NaN
min,NaN,NaN,32.100000,13.100000,172.000000,2700.000000,NaN
25%,NaN,NaN,39.225000,15.600000,190.000000,3550.000000,NaN
50%,NaN,NaN,44.450000,17.300000,197.000000,4050.000000,NaN
75%,NaN,NaN,48.500000,18.700000,213.000000,4750.000000,NaN
max,NaN,NaN,59.600000,21.500000,231.000000,6300.000000,NaN

What we learn above is that a DataFrame comes with a describe method, and that this method optionally takes arguments. The output gives an overview of the columns, and the type and range in value found within each.

Exercise: perform this same analysis vis-a-vis the titanic DataFrame, already open in this namespace if you run the Notebook up to here. Colab works as Google knows about the seaborn package (its in the default syspath already).

The titanic dataset tells the tragic tale (sadly true) of a great ocean liner sinking at sea and people of different ages and genders, with or without siblings on board, with or without spouses, either living (because they found a place in a life boat) or not. 

Actuarial science looks a lot like this, in showing deaths related to causes by age or other grouping, giving ideas about percentages with respect to a specific sample. 

Medical science is likewise about looking for patterns in health-related data sets.

After we know enough basic Python to use powertools like pandas and seaborn, numpy and matplotlib, we'll start to use them. Your habits as a Python coder will carry over: documentation close at hand, Jupyter Notebook or other "literate programming" sandbox open... whatever you need for a specifc project.

Once comfortable with data sets and data wrangling, you will be introduced to [tensorflow](https://www.tensorflow.org) (Python package) and Machine Learning. Using ML, you will make models with predictive powers, in accordance with the main business of data science as stated at the outset: predicting the future.

If a next party enters the restaurant, smokers on a Saturday, ostensibly a female bill payer, should our waiter expect a higher than average bill and bigger tip? Lets hope so, for the waiter's sake.

### Notebooks, Labs and Assignments

* [Notebook of the Day](03.Python_Session3.ipynb) (Session 03)
* [Lab Notebook](Python_Lab1.ipynb) (Lab 1)
* [Assignment 1](Assignment_1_profit_calculator.ipynb) (Profit Calculator)
* [Assignment 2](Assignment_2_covid_19.ipynb) (Covid 19)

## Weekly Sandboxes

* [Week 1](sandbox_week_01.ipynb)

### 1-2-3 Testing...

The Python prompt presents a simple interface to the user.  Click on the Playground link to experience this yourself.

The user enters an expression, such as 2+2, and Python parses it, evaluates it, and replies with a result, or maybe a warning or exception of some rule was broken. 

This is not an "AI prompt" (such as ChatGPT's), meaning open to natural language, and more forgiving of garbage. But then, as computer languages go, Python is quite forgiving, eager to explain what when wrong, if something did.

Let's make a mistake on purpose, and get back a "pink box" about a TypeError:

In [8]:
# Uncomment the expression below to deliberately generate an error
5 * 5  # trying to add int and str, which some languages will allow

25

One way to avoid a lot of pink boxes and to keep the code going is to "handle" the exception. Here's a preview:

In [9]:
"""
The code in this cell is meant to be interactive. If you are
running a live copy of this Notebook, with an active kernel 
in the background, then try changing "5" + 5, to 5 + 5, i.e.
take the quotes off around the first 5. That will make the 
expression 'legal' and print the result: 10.
"""
try:
    print("5" + 5)
except:
    print("Oops, something went wrong")
finally:
    print("Do this no matter what")

Oops, something went wrong
Do this no matter what

In [10]:
glossary = {} # Empty dictionary
glossary.update( {"REPL": "Read Evaluate Print Loop"} )
glossary

{'REPL': 'Read Evaluate Print Loop'}

In other words, this is not an anything-goes "blank canvas", this world, this namespace. What it makes the most sense to do is make expressions, such as 2+2, using builtin names and operators (such as + / \- *).

What are these "built ins" you ask? When you start up Python, the builtins are automatically imported from a module known as `__builtins__` -- let's use `dir` to see what it contains...

In [11]:
__builtins__

In [12]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__pybind11_internals_v4_clang_libcpp_cxxabi1002__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

Wow, lots of Warnings and Errors get mentioned. What we're looking at is a list of strings, in this case the names of built in objects. Python is "object oriented" and we'll talk a lot more about what that means as our course progresses.

You may not see right away to to make the "code cells" interactively editable and runnable. One way is to hit the Google Colab button way at the very top of this Notebook.

The next section talks about what a Notebook is and how it works.

## Orientation

This Jupyter Notebook lives inside a Github repository. When you open it on Github, the Github server turns a JSON file with extension .ipynb, into an HTML file that renders inside your browser. Some features, such as YouTube thumbnails (playable when clicked), are not rendered. For a more complete rendering you may cut and paste the Github Notebook's URL into nbviewer at [nbviewer.org](https://nbviewer.org)

Ordinary formatted text, such as you're reading now, is placed into "markdown cells", which are automatically converted to HTML at runtime. Markdown is a simple formatting syntax that mixes with ordinary text. "Code cells" contain source code ready to send to the backend server for execution, with results coming back as text, but also as embedded visualizations, which may be themselves interactive by means of GUI widgets.

Jupyter Notebooks may be accessed [through Google Colab](https://colab.research.google.com/github/4dsolutions/clarusway_data_analysis/blob/main/basic_python/landing_page.ipynb) as well, in which case they will present as interactive, meaning you can run the code, edit the code, rerun the code and so on. The Markdown cells are editable. You'll be free to save a copy, with your changes, to your own Google Drive, or to your local host (laptop etc.).

Your instructor will walk you through these workflows.

## Some History

The Notebook idea has a long history in the technical literature. Donald Knuth, the giant in computer science, envisioned a kind of "literate programming" wherein human and computer languages would mix seamlessly in a single document.

Jupyter Notebooks originally stem from the [I-Python Notebook Project](https://ipython.org). I-Python was a broadly based open source project designed to enhance the Pythonista's interactive experience, especially with a better more capable REPL (Read Evaluate Print Loop).

A Notebook runs as a client in the web browser, yet is connected to a kernel on the server that knows how to process a computer language such as Python. Because of the web browser context, JavaScript, an in-browser language, is also available.

Once the I-Python Notebook was mature, the Jupyter Project refactored it so that other languages besides Python could play the role of kernel language.

In [13]:
print("Hello")

Hello

In [14]:
type(-5)

int

## Installing Jupyter Locally

You will be encouraged to get enough free open source software installed on your local host to run [JupyterLabs](https://jupyter.org) with Notebooks inside them. This will make you independent of the cloud. You will be able to work without an internet connection. Python will be running on your machine, not on Google's, as it will be when using Colab.  It's not either / or.  You will be encouraged to switch back and forth between local and cloud workspace environments.

To run JupyterLab you have two basic routes: 

* download Python from [Python.org](https://python.org) and then use pip install to download additional packages from [PyPi](https://pypi.org), the Python Index. In the most sophisticated setups, you would install to a virtual environment.
  
* download the [Anaconda distribution](https://www.anaconda.com/download) of Python, which comes pre-equipped with all the packages you'll need

We recommend the second option because it's a lot easier and the Anaconda distribution is well-established as an industry standard. The first option might pertain if you are already comfortable with a pre-existing installation that you have been using productively, and you just want to enhance what you have, versus starting with a whole new distribution.

Anaconda on a Windows start menu:
<br />
<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/43857854005/in/album-72177720296706479" title="Anaconda3 Submenu on Win 10"><img src="https://live.staticflickr.com/1897/43857854005_666b1bce45_c.jpg" width="800" height="402" alt="Anaconda3 Submenu on Win 10"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<br />
<br />
<br />
Anaconda Navigator:
<br />
<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/40523021083/in/album-72177720296706479" title="Anaconda Navigator"><img src="https://live.staticflickr.com/7911/40523021083_ab45a0ca7b_c.jpg" width="800" height="426" alt="Anaconda Navigator"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

## IDEs: Interactive Development Environments

Is Jupyter Notebook an IDE? [Yes and no](https://skillapp.co/blog/the-ultimate-guide-is-jupyter-notebook-an-ide-or-just-a-code-editor/). We might say that Notebooks comprise a relatively new genre and thereby comprise a new tool in any developer's toolbox.

Once you have the Anaconda distribution installed, you will find a very capable IDE named Spyder, in addition to JupyterLab. A conventional IDE has both a code editor panel for writing source code, and another panel that acts as a REPL (Read Evaluate Print Loop), which is a place to interact with (a) Python itself and (b) the namespaces you re defining in the source code.

VS Code is a very popular IDE. You are not limited to using only one. Some IDEs support multiple languages whereas others are mostly focused on one in particular. Both types of IDE have their advantages.

Spyder IDE Editor, Console and File Panes open:

<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/54045853650/in/dateposted/" title="Spyder IDE"><img src="https://live.staticflickr.com/65535/54045853650_68f9b290b8_z.jpg" width="640" height="461" alt="Spyder IDE"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>


Spyder IDE Console: Investigating the print function: <br />

<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/54066223966/in/dateposted/" title="Investigating print; Spyder IDE Console"><img src="https://live.staticflickr.com/65535/54066223966_d01f4237a7_z.jpg" width="640" height="618" alt="Investigating print; Spyder IDE Console"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

## COURSE CALENDAR


<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/54044634463/in/dateposted/" title="Screen Shot 2024-10-05 at 7.42.42 AM"><img src="https://live.staticflickr.com/65535/54044634463_e6231a3cb2_o.png" width="980" height="892" alt="Screen Shot 2024-10-05 at 7.42.42 AM"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<br>
<br>

<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/54062477870/in/dateposted/" title="Screen Shot 2024-10-12 at 1.47.13 PM"><img src="https://live.staticflickr.com/65535/54062477870_3feed30a86_o.png" width="731" height="482" alt="Screen Shot 2024-10-12 at 1.47.13 PM"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>


<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/54069862961/in/dateposted/" title="DS 16/24 US"><img src="https://live.staticflickr.com/65535/54069862961_2985647182_c.jpg" width="800" height="659" alt="DS 16/24 US"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

## APPENDIX

* [Python Background Readings](https://github.com/4dsolutions/clarusway_data_analysis/blob/main/python_warm_up/warmup_python_intro.ipynb) (Urner)
* [Python at W3Schools](https://www.w3schools.com/python/default.asp) (classic)
* [Think Python](https://greenteapress.com/wp/think-python-3rd-edition/) (free book)
* [About Kirby Urner](https://kirbyurner.academia.edu)
* [Clarusway Album](https://flic.kr/s/aHBqjzCs82) (instructor site)
* [Python for Data Science Album](https://flic.kr/s/aHsmfpMPL3) (instructor site)