#### Clarusway Python

* [Instructor Landing Page](landing_page.ipynb)
* <a href="https://colab.research.google.com/github/4dsolutions/clarusway_data_analysis/blob/main/basic_python/Python_Lab1.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>
* [![nbviewer](https://raw.githubusercontent.com/jupyter/design/master/logos/Badges/nbviewer_badge.svg)](https://nbviewer.org/github/4dsolutions/clarusway_data_analysis/blob/main/basic_python/Python_Lab1.ipynb)

<a id="toc"></a>
## <p style="background-color:#0D8D99; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Python Lab 1</p>

<p>
<img align="right"
    src="https://secure.meetupstatic.com/photos/event/3/1/b/9/600_488352729.jpeg"  width="15px"></p>
<br>

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Task 1 :</p>

## Write a program that multiplies three numbers entered by the user. Print the output with the format method.

In [1]:
3 * 4

12

In [2]:
3 * 4 * 5

60

In [3]:
input()

 testing

'testing'

In [4]:
input("enter a message : ")

# we can write a message inside the input function to inform the user about the expected input.

enter a message :  1-2-3 testing

'1-2-3 testing'

In [5]:
input("enter a number: ")

enter a number:  44

'44'

In [6]:
type(5)

# Values returned from the input function are always of the "string" type

int

In [7]:
type(input("enter a number: "))

enter a number:  44

str

In [8]:
num = input("enter a number: ")
type(num)

# We have assigned the value returned from the input function to a variable for later use in our code.

enter a number:  44

str

In [9]:
number = input("enter a number :")

enter a number : 44

In [10]:
print(number)

44

In [11]:
type(number)

str

In [12]:
number + number

'4444'

In [13]:
num1 = int(input("enter num1: "))  # now I can use this num1 variable in my code.
num2 = int(input("enter num2: "))
num3 = int(input("enter num3: "))

print(num1 * num2 * num3)  
# I was able to perform this arithmetic operation,
# because I converted the "string" data returned from the input function to integer.

enter num1:  55
enter num2:  66
enter num3:  77

279510

In [14]:
output = num1 * num2 * num3

In [15]:
print("the multiplication of num1, num2 and num3 is equal to : ", output)

the multiplication of num1, num2 and num3 is equal to :  279510

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Task 2 :</p>

## Write a program that calculates body mass index from "height" and "weight" entered by the user.

### DOMAIN KNOWLEDGE !!

As a result of my field research, I found that the formula for the body mass index is as follows:
    
Body mass index :  Weight / Height(m) * Height(m)

In [16]:
height = float(input("enter your height (example : 1.85)"))
weight = float(input("enter your weight (example : 75)"))

body_mass_idx = weight / (height ** 2)

enter your height (example : 1.85) 1.85
enter your weight (example : 75) 75

**I followed the rules when specifying the variable name.** 

**variable name gives an idea about the value it represents**

**the name is not one of python's keywords.**

**and it doesn't start with a number.**

**and there are no special characters in it.**

In [17]:
print(body_mass_idx)  # You can either print this variable with print function

21.913805697589478

In [18]:
# or you can make this calculation directly inside the print function.

print("Body mass index = ", weight / (height ** 2))

Body mass index =  21.913805697589478

### round() function
**Round a number to a given precision in decimal digits.**

**The return value is an integer if ndigits is omitted or None.  Otherwise the return value has the same type as the number.  ndigits may be negative.**

In [19]:
height = float(input("enter your height (example : 1.85) :"))
weight = float(input("enter your weight (example : 75) :"))

print("Body mass index = ", round(weight / (height ** 2), 2)) 

# We can round the result to return with the round() function.

enter your height (example : 1.85) : 1.85
enter your weight (example : 75) : 75

Body mass index =  21.91

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Task 3 :</p>

## With your 200 dollars, how many pieces of material can you get for 11 dollars each? How much money do you have left after buying?

In [20]:
200 // 11

18

In [21]:
quotient = 200 // 11
quotient

18

In [22]:
remainder = 200 % 11
remainder

2

In [23]:
total_money = 200

material_price = 11

piece = 200 // 11

remaining_money = 200 % 11

print("With your $", total_money, "\b,", piece, "pieces of material you can get for", \
     material_price, "$ each. The remaining money is $", remaining_money)

With your $ 200, 18 pieces of material you can get for 11 $ each. The remaining money is $ 2

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Task 4 :</p>

## Ask the user for two numbers and assign these numbers to variables and replace the values of these variables with each other.

In [24]:
# Assigning values to more than one variable with tuple unpacking method:

x, y, z = 1, 3, "beş"  

# tuple unpacking:
# We assign the values on the right of the equation to the variables on the left of the equation.

In [25]:
x

1

In [26]:
y

3

In [27]:
z

'beş'

In [28]:
a = 2
b = 5

print("variable before replacing a = ", a, ", b =", b)

a, b = b, a

print("variable after replacing a = ", a, ", b =", b)

variable before replacing a =  2 , b = 5
variable after replacing a =  5 , b = 2

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Task 5 :</p>

## Get "word", "seperator" and "repetition" values from the user and print the word on the screen according to the given values. 

**Ex:** ``word = ally, sep = /, repetition = 3`` ----> ``ally/ally/ally``

In [29]:
"ally" + "&"

'ally&'

In [30]:
word = input("word : ")  # We want the word to be of string data type. 
# so we didn't change the type of the value returned from the input function.

seperator = input("seperator :")  # Since we want the separator to be a string, we didn't change its type either.

repetition = int(input("repetition: "))  # We want "repetition" to be a number. 
# so we converted the string value returned from the input function to integer.

print((word + seperator) * (repetition -1) + word)

word :  WORD
seperator : !
repetition:  30

WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD!WORD