#### Clarusway Python

* [Instructor Landing Page](landing_page.ipynb)
* <a href="https://colab.research.google.com/github/4dsolutions/clarusway_data_analysis/blob/main/basic_python/Python_Lab4.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>
* [![nbviewer](https://raw.githubusercontent.com/jupyter/design/master/logos/Badges/nbviewer_badge.svg)](https://nbviewer.org/github/4dsolutions/clarusway_data_analysis/blob/main/basic_python/Python_Lab4.ipynb)

<a id="toc"></a>

## <p style="background-color:#0D8D99; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Python Lab 4</p>

<div class="alert alert-block alert-info"><h1><p style="text-align: center; color:purple">Assignment-6 (The Most Frequent Element)<br><br>Assignment-7 (Profit Calculator)</p>

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Assignment-6 (The Most Frequent Element)</p>

<div class="alert alert-block alert-info">
<font color=red><b>Task :</b></font>
<font color=purple><b>Find out the most frequent number and its frequency.</b></font><br><br>
<font color=red>Note :</font>You may need to use useful/necessary <font color=red>built-in functions</font> and <font color=red>list</font>  methods other than the functions we haven't covered in the lessons yet.<br><br>
<font color=darkblue>Write a program that;<br><br>
Finds out the most frequent number in the given list.<br>
Calculates its frequency.<br>
Prints out the result such as :
</font>

In this lesson, we will solve the 'most frequent element' assignment.

Along with this solution, we will review lists, list methods, some built-in functions, and the concept of parameters used in functions. Finally, we will print an output using the f-string method.

Let's move on to the task:
It says: Find the most frequently occurring number and its frequency in a given list.
We need to find out how many times the most repeated element appears in the list and what that element is.

Looking at the example, the most frequently occurring number in the list is 3, and it appears 4 times.
Finally, as you can see, we will print a sentence.

And one more note: you may need to use built-in functions or list methods that were not covered in the lesson. Therefore, the assignment is trying to encourage you to do some research.

We want you to research which built-in functions you can use while searching for a solution.

Since it's talking about the most frequently occurring element, I need to find a function related to this. I'm looking for a built-in function that can find the most frequently occurring element and also how many times it occurs. I need to research this specifically.

In solving the problem, we expect you to reduce it to two basic functions and identify these functions. You may not be able to find the answer to this question, or your answer may be wrong. But have you looked at the official documentation? Have you visited these sites? Have you researched the built-in functions that will be useful to you? We want you to do these things.

This question asks you to find the maximum value of something.

I'm searching 'python built-in functions' in my browser...

Look, there is a 'max()' function here.

The 'max()' function returns the largest element in an iterable or the largest of two or more arguments. It also has a parameter called 'key'. We will use this parameter in the solution.

Let's focus on the max() and count() functions. First, let's create a list and learn about the max() function using the list.

Let's create a list named 'numbers' and write the sample list in the question here."

In [1]:
numbers = [1, 3, 7, 4, 6, 3, 0, 3, 6, 3, 7, 6 , 6]

Great, now we have such a list.

In [2]:
max(numbers)

# When you pass an iterable into the max() function, it returns the largest element in the iterable.

7

In [3]:
max(11, 8, 35)

35

In [4]:
max("python")

'y'

Let's see, I passed another iterable into it, this time a string.

And it returned the 'y' character to me. This means that the character with the highest value among the characters is 'y'. When it comes to strings, we can immediately realize that it determines the highest one according to ASCII codes.

As you know, each character has a numeric ASCII code. The largest character is the one with the largest of these numeric values.

Thus, it appears that the character with the highest ASCII code among the characters that make up the string 'clarusway' is 'y'.

By pressing 'shift tab tab', we can see that there is something called 'default' and it is an object. If the iterable we pass into it is empty, it returns whatever we defined for 'default' here.

So let's define an empty iterable, such as an empty list, as the easiest way:

In [5]:
empty = []

In [6]:
# max(empty)

# error!!

Due to the nature of the max() function, whatever I define as the default parameter will be executed when it is called.

In [7]:
max(empty, default = "Empty")

'Empty'

In [8]:
max(empty, default = True)

True

Apparently, functions can have such parameters, and by assigning certain values to them or changing their existing default values, we can change the working principle of the function.

I'm continuing to examine the max() function.

Now, let me define a list called 'sequence'.

In [9]:
sequence = [1, 1, 1, 1, 2, 2, 2, 3, 3, 4]

 As we mentioned earlier, the max() function returns one of the elements. It selects and returns only one of the elements. Let's see which one it will return from the 'sequence' list.

In [10]:
max(sequence)

4

It selected the largest element among the elements in the sequence and returned it.

Since the 'sequence' variable is a list, let's see which methods this list has.

{sequence. + tab}

Here, there is a 'count' method. So what does the count method return? Does it return one of the elements? No.

If an element is a list, it returns the number of times that element appears in the list. It returns the count of that element. For example:

In [11]:
sequence.count(4)

# '4' appears only once.

1

In [12]:
sequence.count(1)

# '1' appears four times.

4

In [13]:
numbers

[1, 3, 7, 4, 6, 3, 0, 3, 6, 3, 7, 6, 6]

In [14]:
max(numbers)

# The maximum element of the numbers is 7.

7

In [15]:
numbers.count(7)

# and "7" appears twice in the list.

2

So let's use these two functions together like this:

In [16]:
numbers.count(max(numbers))

2

The 'count()' method takes only one element as input. And if 'max(numbers)' returns only one element, then can't I assign this element as 'max(numbers)' inside the count method? yes I can. and I did it.

So, how can we find the most frequently occurring element?

Let's take another look at the max() function together.

The 'max()' function has a parameter called 'key', to which we can assign a function or method. Normally, like all other functions, 'max()' works with default values. If you manipulate these parameters, you manipulate the way the function works. In a sense, you play with its DNA.

So how does 'max()' function normally work? What maximum value does it give me by default? It gives the highest value among the elements of an iterable, like a list. This is its default behavior.

However, if you play with the "key" parameter of this function, you can make it work differently. Let's assign something to this 'key' parameter so that the 'max()' function finds and returns the highest frequency of occurrence of an element, not its value:

In [17]:
numbers

[1, 3, 7, 4, 6, 3, 0, 3, 6, 3, 7, 6, 6]

I'm saying, 'maximum function! Forget what you used to know. From now on, you will work according to the method I enter for the 'key' parameter.'

Then I write the name of the 'count' method, which I just met, as the 'key' parameter, and specify which object it will be applied to. Look, just like this:

In [18]:
max(numbers, key = numbers.count)

3

Here, by typing 'key = numbers.count', we mean that when the count method is applied to each element of the 'numbers' list, the resulting list of counts will be stored in memory. The max() function will then operate based on this list of counts.
and return the element with the highest frequency count."

I am now assigning the element returned from max() function to a variable called 'maximum'. This way, I can pass this element to the count() method. and I will apply count() method to the list. and it will return the count of occurrences of this most repeated element for me.

In [19]:
maximum = max(numbers, key = numbers.count)

cnt = numbers.count(max(numbers, key = numbers.count))

Let's now print this result nicely using the f-string method.:

In [20]:
print(f"The most frequent number is {maximum} and it was {cnt} times repeated")

The most frequent number is 3 and it was 4 times repeated

## Similar to max() function, sorted() function also has a "key" parameter

In [21]:
cities = ["Los Angeles", "New York", "Philadelphia", "Dallas"]

In [22]:
sorted(cities)

['Dallas', 'Los Angeles', 'New York', 'Philadelphia']

In [23]:
sorted(cities, key = len)

['Dallas', 'New York', 'Los Angeles', 'Philadelphia']

In [24]:
sorted(cities, key = len, reverse = True )

['Philadelphia', 'Los Angeles', 'New York', 'Dallas']

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Assignment-7 (Profit Calculator)</p>

In [25]:
sales = {

  "cost_value": 31.87,

  "sell_value": 45.00,

  "inventory": 1000

}

In [26]:
sales["sell_value"]

45.0

In [27]:
sales["cost_value"]

31.87

In [28]:
sales["inventory"]

1000

In [29]:
total_profit = (sales["sell_value"] - sales["cost_value"]) * sales["inventory"]

print(total_profit)
print(round(total_profit))
print(round(total_profit, 2))

13129.999999999998
13130
13130.0

In [30]:
payrolls = {"first" : 3,

            "second": 29.99,

            "third" : 4.1}

In [31]:
print(" ${:.2f} ".format(payrolls["first"]))

print(" ${:.2f} ".format(payrolls["second"]))

print(" ${:.2f} ".format(payrolls["third"]))

 $3.00
 $29.99
 $4.10

In [32]:
payrolls = float(input("enter a value : "))
print(" ${:.2f} ".format(payrolls))

enter a value :  784.12

 $784.12